@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.today {
    margin-top: 20px;
    display: flex;

    &__temperature {
        width: 400px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 30px;
        padding: 15px;

        .block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70%;

            img {
                width: 140px;
                max-height: 100%;
            }

            p {
                font-weight: 500;
                font-size: 96px;
                color: black;
            }

            span {
                font-weight: 400;
                font-size: 40px;
            }
        }

        p {
            font-weight: 400;
            color: gray;
            font-size: 25px;
        }
    }

    .detailed {
        width: 100%;
        margin-left: 50px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 30px;

        &__temperature {

            div {
                display: flex;
                align-items: center;
                float: left;
                width: 48%;
                height: 60px;
                border-bottom: 1px solid gray;

                :nth-child(2) {
                    width: 35%;
                }

                .kolo {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    position: relative;
                    margin-right: 10px;
                    margin-left: 15px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

                    img {
                        max-width: 35px;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }

        .hours {
            width: 100%;
            height: 40%;
            display: flex;
            padding-top: 30px;

            &__deteils {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 15px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 15px;

                &:nth-last-child(1) {
                    margin-right: 15px;
                }

                & img {
                    width: 56px;
                }
            }
        }
    }
}